.back {
  background: url(../assets/Background_Intro.png) lightgray 50% / cover no-repeat;

  box-sizing: border-box;

}

.back-final {
  background: url(../assets/Contact.png);

  box-sizing: border-box;
  
}

.main-red {
  color: var(--red);
}

.base-gray {
  color: var(--gray-600);
}

.gray-500 {
  color: var(--gray-500);
  font: var(--text-md);
}

.text-md {
  font:var(--text-md);
}

.text-sm {
  font: var(--text-sm);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 8px;
  flex-wrap: wrap;

  border-radius: 12px;
  border: 2px solid var(--gray-200);

  padding: 20px;

}

.card p{
  color: var(--gray-500);
  font: var(--text-sm);

}

.Subtitle {
  font: var(--Subtitle);
}

.h3 {
  color: var(--gray-600);
  font: var(--title-md);
}

.social-midia {
  background-color: var(--gray-300);
  border-radius: 8px;
  width: 400px;

  display: flex;
  align-items: center;
  justify-items: center;

  gap: 12px;
  padding: 20px;

  & span {
    flex: 1 0 0;
  }
}